@mixin _question-dt-dd-mixin {
    width: 12.24rem;
    margin: 0 0 0.55rem 0;
    border-bottom: 1px solid #000000;
    dt{
        font-weight: 500;
        font-size: 0.18rem;
        margin: 0 0 0.28rem 1.15rem;
        img{
            width: 0.5rem;
        }
        p{
            display: inline-block;
            margin: 0 0 0 0.29rem;
        }
    }
    dd{
        font-weight: 500;
        font-size: 0.18rem;
        margin: 0 0 0.58rem 1.15rem;
        img{
            width: 0.5rem;
        }
        p{
            display: inline-block;
            margin: 0 0 0 0.29rem;
        }
    }
}