html{
    font-size: calc(100vw/14.40);
}

body{
    font-size: 0.16rem;
    font-family:YuGothic,“Yu Gothic”,"游ゴシック","Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    color: $font-black;
}

a{
    text-decoration: none;
}