.appeal{
    &__title{
        h2{
            @include _title-font-mixin;
            text-align: center;
            padding: 0.32rem 0;
        }
    }
    &__lists{
        &-ul{
            text-align: center;
            &-li{
                display: inline-block;
                &-1{
                    @include _appeal-mixin;
                    margin: 0 0.54rem 0 0;
                }
                &-2{
                    @include _appeal-mixin;
                    margin: 0 0.54rem;
                }
                &-3{
                    @include _appeal-mixin;
                    margin: 0 0 0 0.54rem;
                }        
            }
        }
    }
    &__btn {
        text-align: center;
        img{
            width: 4.42rem;
            margin: 0.28rem 0;    
        }
    }
}

//media760px
@media (max-width:760px){
    .appeal{
        &__title{
            h2{
                font-size: 0.65rem;
                padding: 0.9rem;
            }
        }
        &__lists{
            &-ul{
                &-li{
                    display: block;
                    text-align: center;
                    &-1{
                        margin: 0;
                        img{
                            width: 70%;
                            height: auto;
                            margin: 0 0 0.4rem;
                        }
                    }
                    &-2{
                        margin: 0;
                        img{
                            width: 70%;
                            height: auto;
                            margin: 0.4rem 0 0.4rem;
                        }
                    }
                    &-3{
                        margin: 0;
                        img{
                            width: 70%;
                            height: auto;
                            margin: 0.4rem 0 0;
                        }
                    }
                }
            }
        }
        &__btn{
            img{
                width: 83%;
                margin: 0.9rem 0;
            }
        }
    }
}