.campaign-footer {
  display: none;
}

@media (max-width: 760px) {
  .campaign-footer {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    text-align: center;
  }
  .campaign-footer__text {
    display: inline-block;
  }
  .campaign-footer__text p {
    display: inline-block;
    font-weight: 700;
    font-size: 0.4rem;
    margin: 0.6rem 0;
    border-bottom: solid 0.27rem #FFFF00;
    line-height: 0.3rem;
  }
  .campaign-footer img {
    width: 98%;
    margin: 0 0 0.55rem;
  }
}
