// first-view
.first-view{
    margin: 0.5rem 0 0;
    &__contain{
        position: relative;
        text-align: right;
        &-back-ground{
            img{
                left:calc(50% - 11.68rem/2);
                width: 11.68rem;
                display: block;
                margin: 0 auto;
            }
        }
        &-sentence{
            display: inline-block;
            margin: 0.65rem 0.97rem 0.4rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            h1{
                @include _title-font-mixin;
                span{
                    color: $main-red;
                }
            }
            p{
                font-size: 0.24rem;
            }
            &-btn{
                text-align: center;
                img{
                    width: 4.42rem;
                    margin: 0.6rem auto 0;  
                }
            }
        }
    }
}

//~760px
@media (max-width:760px){
    .first-view{
        margin: 1.9rem 0 0;
        &__contain{
            &-back-ground{
                img{
                    width: 100%;
                }
            }
            &-sentence{
                position: relative;
                top: auto;
                right: auto;
                z-index: auto;
                display: block;
                text-align: center;
                h1{
                    display: inline-block;
                    text-align: center;
                    font-size: 0.65rem;
                    line-height: 0.8rem;
                }
                p{
                    display: inline-block;
                    text-align: center;
                    font-size: 0.5rem;
                    line-height: 0.5rem;
                    margin: 0.3rem 0 0;
                }
                &-btn{
                    img{
                        width: 83%;
                    }
                }
            }
        }
    }
}