.first-view {
  margin: 0.5rem 0 0;
}

.first-view__contain-background img {
  display: block;
  margin: 0 auto;
  width: 11.68rem;
}

.first-view__contain-sentence h1 {
  font-size: 0.36rem;
}

.first-view__contain-sentence p {
  font-size: 0.24rem;
}
