.flow{
    background: $background-gray;
    &__title{
        h2{
            @include _title-font-mixin;
            text-align: center;
            padding: 0.32rem 0;
        }
    }
    &__content{
        img{
            width: 11.78rem;
            margin: 0 auto;
            display: block;
        }
    }
    &__content-sp{
        display: none;
    }
    &__btn {
        padding: 0.28rem 0;
        img{
            width: 4.42rem;
            display: block;
            margin: 0 auto;    
        }
    }
}

//media760px
@media (max-width:760px){
    .flow{
        &__title{
            h2{
                font-size: 0.65rem;
                padding: 0.9rem;
            }
        }
        &__content{
            display: none;
        }
        &__content-sp{
            display: block;
            text-align: center;
            img{
                width: 70%;
            }
        }
        &__btn{
            text-align: center;
            img{
                width: 83%;
                margin: 0.9rem 0;
                display: inline-block;
            }
        }
    }
}