.footer {
    background-color: $background-gray;
    &__links {
        text-align: center;
        padding: 0.17rem 0;
        &-1 {
            @include _footer-font-mixin;
            margin: 0 0.85rem 0 0;
        }
        &-2 {
            @include _footer-font-mixin;
            margin: 0 0 0 0.85rem;
        }
    }
    &__copy-right{
        text-align: center;
        padding: 0 0 0.17rem;
        p{
            display: inline-block;
            font-size: 0.18rem;
        }
    }
}

@media (max-width:760px) {
    .footer {
        padding: 0.17rem 0 5rem;
        &__links {
            &-1 {
                font-size: 0.47rem;
            }
            &-2 {
                font-size: 0.47rem;
            }
        }
        &__copy-right{
            p{
                font-size: 0.47rem;
            }
        }
    }
}