// header
.header{
    background-color: $main-white;
    text-align: right;
    list-style: none;
    position: fixed;
    z-index: 5;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    &__logo{
        float: left;
        img{
            height: 0.52rem;
        }
    }
    li{
        display: inline-block;
    }
    &__btn{
        vertical-align: middle;
        display: inline-block;
        a{
            color: $font-black;
            font-weight: 700;
            font-size: 0.18rem;
            margin: 0 0.1rem;
        }
    }
    &__btn-phone{
        vertical-align: middle;
        display: inline-block;
        padding: 0 0.09rem 0 0.11rem;
        li{
            a{
                margin: 0.06rem 0;
                display: inline-block;
                img{
                    height: 0.4rem;
                }        
            }
        }
    }
    &__hamburger{
        display: none;
    }
}
.header-menu{
    display: none;
}


//メディアクエリ
@media (max-width:760px){
    .header{
        &__logo{
            img{
                height: 1.9rem;
            }
        }
        &__btn{
            display: none;
        }
        &__btn-phone{
            display: none;
        }
        &__hamburger{
            display: block;
            a{
                img{
                    float: right;
                    height: 1.9rem;
                }
            }    
        }
    }
    .header-menu{
        display: none;
        position: fixed;
        z-index: 3;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        &__nav{
            &-ul{
                &-li{
                    text-align: right;
                    &-1{
                        @include _header-menu-mixin;
                        a{
                            padding: 0.5rem 28%
                        }
                    }
                    &-2{
                        @include _header-menu-mixin;
                        a{
                            padding: 0.5rem 24%;
                        }
                    }
                    &-3{
                        @include _header-menu-mixin;
                        a{
                            padding: 0.5rem 42%;
                        }
                    }
                    &-4{
                        text-align: right;
                        img{
                            width: 9.6rem;
                        }
                    }
                }
            }
        }
    }
    .open{
        display: block;
    }
}