.question{
    &__title{
        h2{
            @include _title-font-mixin;
            text-align: center;
        }
    }
    dl{
        dt{
            font-weight: 500;
            font-size: 0.18rem;
        }
        dd{
            font-weight: 500;
            font-size: 0.18rem;
        }
    }
}