.question{
    &__title{
        h2{
            @include _title-font-mixin;
            text-align: center;
            padding: 0.32rem 0;
        }
    }
    &__lists{
        &-dl{
            margin: 0 0 0 1.63rem;
            &-1{
                @include _question-dt-dd-mixin;
            }
            &-2{
                @include _question-dt-dd-mixin;
            }
            &-3{
                @include _question-dt-dd-mixin;
            }
            &-4{
                @include _question-dt-dd-mixin;
            }
            &-5{
                @include _question-dt-dd-mixin;
                margin: 0 0 0.27rem 0;
            }
        }    
    }
    &__btn{
        img{
            width: 4.42rem;
            margin: 0.28rem auto;    
            display: block;
        }
    }
}